.product_features{
  display: flex;
  justify-content: center;
  height: 45vh;
  width: 100%;
  // border: 1px solid orangered;

  .features_wrapper{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-around;
    height: 100%;
    width: 90%;

    // border: 1px solid yellowgreen;
    box-shadow:0 0 4px 1px #666;
    .title{
     display: flex;
     align-items: flex-end;
      height: 9vh;
      width: 95%;
     
      // border: 1px solid black;
    }

    .features_list{
      height: 30vh;
      width: 90%;
    
      // border: 1px solid red;
    }
  }
}