@import 'features';
@import 'specifications';
@import 'overviews';
.main-container{
  display: flex;
  justify-content: center;
  // height: 70vh;
  width: 100%;
  // box-shadow: 3rem #999;
  // border: 2px solid red;
  margin-top: 97px;

  .container-wrapper{
    display: flex;
    height: 100%;
    width: 90%;
    // background: #fff;
    // box-shadow: 0 0 2px 2px  #666;
    // border: 1px solid blue;
    //left side container
  .image-wrapper{
    display: flex;
    // height: 100%;
    width: 50vw;
    // border: 2px solid green;

    .image-slider{
      // height: 65vh;
      width: 15vw;
      margin: 2px;
      // border: 1px solid black;
      background-color: #3EB489
    }

    .image-div{
      // @extend .image-slider;
      margin: 2px;
      // border: 1px solid black;
      width: 34vw;
      // border: 1px solid orangered;
      .image{
        height: 100%;
        width: 100%;
      }
    }

  }

  

//right side container

  .details-wrapper{
    // @extend .image-wrapper;
    display: flex;
    flex-direction: column;
    width: 50vw;
    // border: 2px solid green;
    

//upper side container

    .product-details{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // height: 40vh;
      width: 100%;
      // border: 2px solid black;
  
      .name-with-detail{
        // height: 25vh;
        width: 100%;
        padding: 5px;
        // border: 1px solid red;
        h1{
          font-size: 2rem;
        }
      }
  
      .product-id-rating{
        display: flex;
        height: 5vh;
        width: 85%;
        // border: 2px solid green;
        margin-bottom: 5px;
        .product-id{
          // height: 100%;
          width: 40%;
          padding: 5px;
          // text-align: justify;
          // border: 1px solid skyblue;
        }
        .product-rating{
          width: 50%;
          // border: 1px solid black;
          @extend .product-id;
        }
      }
  
      .product-price{
        height: 5vh;
        width: 100%;
        padding: 5px;
        // border: 1px solid darkcyan;
      }
  
  
    }
  
  //lower side container
    .buying-wrapper{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 15vh;
      width: 100%;
      // border: 1px solid pink;
      margin-top: 5px;

      .add-buy-container{
        display: flex;
        justify-content: space-around;
        height: 10vh;
        width: 80%;
        // border: 1px solid aqua;

        .add-cart{
            height: 7vh;
            width: 12vw;
            border-radius: 1.5rem;
            color: #fff;
            background-color: #3EB489;
            border: none;
            outline: none;


        }

        .buy-now{
          @extend .add-cart;
          // background-color:#033E3E;
          background-color: #FFDB58;
          color: #000;

        }
      }
    }
  }
  }

 



}

@media screen and (min-width:280px) and (max-width:476px){
  // .main-container{
  //   height: 40vh;
  //   width: 100%;
  // }

.main-container .container-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.main-container .container-wrapper .image-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
}
.main-container .container-wrapper .details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container .container-wrapper .image-wrapper .image-slider{
  width: 100%;
  height: 60px;
}
.main-container .container-wrapper .image-wrapper .image-div{
  width: 90%;
}
.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating{
  height: 15px;
  width: 100%;
}

.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating .product-id, 
.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating .product-rating {
  width: 55%;
  padding-left: 5px;
  font-size: 1rem;
  /* font-weight: 400; */
}

.main-container .container-wrapper 
.details-wrapper .product-details 
.product-id-rating .product-rating {
  width: 45%;
}

.main-container .container-wrapper .details-wrapper 
.product-details .product-price{
  height: 25px;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 65px;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper .add-buy-container{
  height: 55px;
  width: 90%;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper .add-buy-container 
.add-cart, .main-container .container-wrapper .details-wrapper 
.buying-wrapper .add-buy-container .buy-now{
  height: 45px;
  width: 120px;
  border-radius: 0.8rem;
}

}