@import 'features';
@import 'specifications';
@import 'overviews';
.main-container{
  display: flex;
  justify-content: center;
  width: 100%;
  // border: 2px solid red;
  margin-top: 16vh;
  margin-bottom: 10px;

  .container-wrapper{
    display: flex;
    // height: 100%;
    width: 90%;
    // border: 1px solid blue;

    //left side container
  .image-wrapper{
    display: flex;
    width: 50%;
    // border: 2px solid green;

    .image-slider{
      height: 350px;
      width: 20%;
      margin: 2px;
      // border: 1px solid black;
      background-color: #3EB489
    }

    .image-div{
      height: 350px;
      margin: 2px;
      width: 80%; 
      // border: 1px solid orangered;
      .image{
        height: 100%;
        width: 100%;
      }
    }

  }

  

//right side container

  .details-wrapper{
    display: flex;
    height: 350px;
    flex-direction: column;
    width: 50%;
    // border: 2px solid rgb(128, 0, 11);
    

//upper side container

    .product-details{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin: 2px;
      // border: 2px solid black;
  
      .name-with-detail{
        width: 100%;
        padding: 5px;
        // border: 1px solid red;
        h1{
          font-size: 2rem;
        }
      }
  
      .product-id-rating{
        display: flex;
        width: 85%;
        // border: 2px solid green;
        // margin-bottom: 5px;
        .product-id{
          width: 40%;
          padding: 5px 0 0 5px;
          // border: 1px solid rgb(238, 42, 7);
        }
        .product-rating{
          width: 50%;
          // border: 1px solid black;
        
        }
      }
  
      .product-price{
        // height: 5vh;
        width: 100%;
        padding: 0 0 0 5px;
        // border: 1px solid darkcyan;
      }
  
  
    }
  
  //lower side container
    .buying-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      // border: 1px solid pink;

      .add-buy-container{
        display: flex;
        justify-content: space-around;
        // height: 10vh;
        width: 80%;
        // border: 1px solid aqua;

        .add-cart{
            height: 45px;
            width: 145px;
            border-radius: 0.5rem;
            color: #fff;
            background-color: #3EB489;
            border: none;
            outline: none;


        }

        .buy-now{
          @extend .add-cart;
          // background-color:#033E3E;
          background-color: #FFDB58;
          color: #000;

        }
      }
    }
  }
  }



}


.accordion_div{
  margin-left: 5%;
  margin-right: 5%;

}

@media screen and (min-width:280px) and (max-width:480px){
  // .main-container{
  //   height: 40vh;
  //   width: 100%;
  // }

.main-container .container-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.main-container .container-wrapper .image-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
}
.main-container .container-wrapper .details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container .container-wrapper .image-wrapper .image-slider{
  width: 100%;
  height: 60px;
}
.main-container .container-wrapper .image-wrapper .image-div{
  height: 280px;
  margin: 0px;
  width: 100%;
}
.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating{
  // height: 0px;
  width: 100%;
}

.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating .product-id, 
.main-container .container-wrapper .details-wrapper 
.product-details .product-id-rating .product-rating {
  width: 55%;
  padding-left: 5px;
  font-size: 1rem;
  /* font-weight: 400; */
}

.main-container .container-wrapper 
.details-wrapper .product-details 
.product-id-rating .product-rating {
  width: 45%;
}

.main-container .container-wrapper .details-wrapper 
.product-details .product-price{
  // height: 25px;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 65px;
  margin-top: 0;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper .add-buy-container{
  height: 55px;
  width: 90%;
}

.main-container .container-wrapper .details-wrapper .buying-wrapper .add-buy-container 
.add-cart, .main-container .container-wrapper .details-wrapper 
.buying-wrapper .add-buy-container .buy-now{
  height: 45px;
  width: 120px;
  border-radius: 0.5rem;
}

}