body {
  background-color: #fff;
  font: inherit;
  font-weight: inherit;
  box-sizing: border-box;
 font-family: "PT Serif",serif;

  .home_div{
    height: auto;
    display: flex;
    flex-direction: column;
  
    .header_wrapper{
      height: 16vh;
      width: 100%;
      background-color: #3EB489; 
      
    
    }
    
    .slider_div{
      height: 60vh;
      width: 100%; 
      // background-color: rgb(228, 23, 23);
    }

    .highlights{
      height: 50vh;
      width: 100%;
      background-color: #EBF4FA;
      // border: 2px solid blue;
    }
  
    .brand{
      height: 50vh;
      width: 100%;
      background-color: #EBF4FA;
      // border: 2px solid blue;
    }
  
  
    .footer_wrapper{
      height: 20vh;
      width: 100%;
      background-color:#033E3E;
      
      
    
    }
  }
  
}

@media screen and (max-width:360px){
  body .home_div .highlights {
    height: 45vh;
    width: 100%;
}

body .home_div .slider_div {
  height: 35vh;
  width: 100%;
}

body .home_div .brand {
  height: 50vh;
  width: 100%;

}

body .home_div .footer_wrapper {
  height: 15vh;
  width: 100%;

}

  
}


