body {
  background-color: #fff;
  font: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
body .home_div {
  height: auto;
  display: flex;
  flex-direction: column;
}
body .home_div .header_wrapper {
  height: 16vh;
  width: 100%;
  background-color: #3EB489;
}
body .home_div .slider_div {
  height: 60vh;
  width: 100%;
}
body .home_div .highlights {
  height: 50vh;
  min-width: 90%;
  background-color: #EBF4FA;
}
body .home_div .brand, body .home_div .winter, body .home_div .summer {
  height: 50vh;
  width: 100%;
  background-color: #EBF4FA;
}
body .home_div .footer_wrapper {
  height: 20vh;
  width: 100%;
  background-color: #033E3E;
}

@media screen and (max-width: 360px) {
  body .home_div .highlights {
    height: 45vh;
    width: 100%;
  }

  body .home_div .slider_div {
    height: 35vh;
    width: 100%;
  }

  body .home_div .brand, body .home_div .summer, body .home_div .winter {
    height: 50vh;
    width: 100%;
  }

  body .home_div .footer_wrapper {
    height: 15vh;
    width: 100%;
  }
}
.footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_div .about_contact {
  color: white;
  height: 10vh;
  width: 20vw;
  outline: none;
  border: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.footer_div .about_contact li {
  list-style-type: none;
}
.footer_div .about_contact li a {
  text-decoration: none;
}
.footer_div .social_media {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 10px;
  height: 5vh;
  width: 20vw;
}
.footer_div .social_media .fb_div, .footer_div .social_media .insta_div, .footer_div .social_media .google_div, .footer_div .social_media .tw_div {
  height: 3vh;
  width: 2vw;
  margin: 1.5px;
}
.footer_div .social_media .fb_div .fb_div__icon, .footer_div .social_media .insta_div .fb_div__icon, .footer_div .social_media .google_div .fb_div__icon, .footer_div .social_media .tw_div .fb_div__icon {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.footer_div .social_media .tw_div .tw_div__icon {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.footer_div .social_media .google_div .google_div__icon {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.footer_div .social_media .insta_div .insta_div__icon {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 360px) {
  .footer_div .social_media {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 10px;
    height: 5vh;
    width: 25vw;
  }

  .footer_div .social_media .fb_div,
.footer_div .social_media .insta_div,
.footer_div .social_media .google_div,
.footer_div .social_media .tw_div {
    height: 3vh;
    width: 5vw;
    margin: 1.5px;
  }

  .footer_div .about_contact {
    color: white;
    height: 10vh;
    width: 56vw;
    outline: none;
    border: none;
    align-items: center;
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    font-size: 20px;
  }
}
.slide_img {
  height: 60vh;
  width: 100%;
  background-color: blue;
}
.slide_img .slide_img__div {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 360px) {
  .slide_img {
    height: 35vh;
    width: 100%;
  }

  body .home_div .slider_div {
    height: 35vh;
    width: 100%;
  }
}
.brand_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.brand_div .brand-text-div {
  display: flex;
  justify-content: center;
}
.brand_div .brand-text-div .brand_text {
  height: 7vh;
  width: 90%;
  padding-left: 1.5vw;
  font-size: 2rem;
  text-align: justify;
}
.brand_div .brand_carousel_div {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.brand_div .brand_carousel_div .brand_carousel {
  height: 40vh;
  width: 90%;
}

@media screen and (max-width: 360px) {
  .brand_div .brand_text {
    height: 7vh;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}
.highlights_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.highlights_div .highlight_text {
  display: flex;
  justify-content: center;
}
.highlights_div .highlight_text .text_div {
  height: 7vh;
  width: 90%;
  padding-left: 1.5vw;
  font-size: 2rem;
  text-align: justify;
}
.highlights_div .first_div {
  display: flex;
  justify-content: center;
  height: 42vh;
  width: 100%;
}
.highlights_div .first_div .first_card {
  height: 50vh;
  width: 90%;
}

@media screen and (max-width: 360px) {
  .highlights_div .highlight_text {
    height: 7vh;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .highlights_div .first_div {
    height: 38vh;
    width: 100%;
  }
}
.header_div {
  display: flex;
  justify-content: space-between;
}
.header_div .logo {
  height: 15.5vh;
  width: 10%;
  margin-left: 10%;
}
.header_div .logo .logo_icon {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}
.header_div .form_div {
  height: 15vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_div .form_div .input-search-button-div {
  margin-top: 0.5vw;
}
.header_div .form_div .input-search-button-div .input-search-div .input_div {
  margin-right: 0.2vw;
  margin-bottom: 0.2vw;
  padding: 1vw;
  width: 30vw;
  height: 5.5vh;
  border-radius: 0.4rem;
  border: none;
  outline: none;
}
.header_div .form_div .input-search-button-div .input-search-div #srch_btn {
  height: 5.5vh;
  width: 8vw;
  border-radius: 0.4rem;
  border: none;
}
.header_div .card_div {
  height: 15vh;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header_div .card_div .card1_div {
  height: 5.5vh;
  width: 20%;
  margin-top: 2vh;
}
.header_div .card_div .card1_div .card1_div__img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 360px) {
  .header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_div .logo {
    height: 7vh;
    width: 10%;
    margin-left: 8%;
  }

  .header_div .form_div {
    height: 15vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_div .form_div .input-search-button-div .input-search-div {
    height: 100%;
    width: 100%;
  }

  .header_div .form_div .input-search-div {
    display: flex;
    flex-direction: row;
  }

  .header_div .form_div .input-search-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    display: none;
  }

  .header_div .form_div .input-search-button-div .input-search-div #srch_btn {
    height: 4.5vh;
    width: 15vw;
    border-radius: 0.4rem;
    border: none;
  }

  .header_div .form_div .input-search-button-div .input-search-div .input_div {
    padding: 1vw;
    margin-right: 3px;
    width: 43vw;
    height: 4.5vh;
    border-radius: 0.4rem;
    border: none;
    outline: none;
  }

  .header_div .card_div {
    height: 10vh;
    width: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header_div .card_div .card1_div {
    height: 4vh;
    width: 51%;
    margin-top: 3vh;
    /* border: 1px solid blue; */
  }
}
.item1_div {
  height: 35vh;
  width: 25vw;
  margin-top: 2vh;
  margin: 10px;
  transition: width 1s, height 1s, transform 1s;
}
.item1_div:hover {
  transform: translate(-10%, -5%);
}
.item1_div .item1_div__img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

@media screen and (max-width: 360px) {
  .item1_div {
    height: 30vh;
    width: 82vw;
  }
}
.summer_brand {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.summer_brand .summer-text-div {
  display: flex;
  justify-content: center;
}
.summer_brand .summer-text-div .summer_text {
  height: 7vh;
  width: 90%;
  padding-left: 1.5vw;
  font-size: 2rem;
  text-align: justify;
}
.summer_brand .summer_carousel_div {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.summer_brand .summer_carousel_div .summer_carousel {
  height: 40vh;
  width: 90%;
}

.winter_brand {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.winter_brand .winter-text-div {
  display: flex;
  justify-content: center;
}
.winter_brand .winter-text-div .winter_text {
  height: 7vh;
  width: 90%;
  padding-left: 1.5vw;
  font-size: 2rem;
  text-align: justify;
}
.winter_brand .winter_carousel_div {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.winter_brand .winter_carousel_div .winter_carousel {
  height: 40vh;
  width: 90%;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
