// .slide_div{
//   height: 40vh;
//   width: 100%;
//   border: darkcyan;
//   background-color: darkcyan;
 
// }
.slide_img{
  height: 60vh;
  // height: 100%;
  width: 100%;
  // border: 1px solid rgb(223, 17, 17);
  background-color: blue;
  .slide_img__div{
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width:360px){
  .slide_img {
    height: 35vh;
    width: 100%;
}
body .home_div .slider_div {
  height: 35vh;
  width: 100%;
}

}