.winter_brand{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: spac;
.winter_text{
  height: 7vh;
     width: 100%;
     padding-left: 1.5vw;
     font-size: 2rem;
    text-align: justify;
    // border: 1px solid green;
}

.winter_carousel_div{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
  // border: 2px solid red;
  .winter_carousel{
    height: 40vh;
    width: 90%;
    // border: 2px solid black;
  }
}

}