.item1_div{
  position: relative;
  height: 45vh;
  width: 20vw;
  margin-top: 2vh;
  margin: 10px;
  transition: width 1s, height 1s, transform 1s;
  // margin-left: 2vh;
  // margin-bottom: 2vh;
  // border: 2px solid red;
  // background-color: blue;
  &:hover{
    // transform: translateX(-20px);
    // height: 50vh;
    // width: 40vw;
    
    // transform: rotate(360deg);
    // zoom: 100%;
    // transform: translate(-10%,-5%,);
    // transform: translate(10%,5%);
  }

  .item1_img_wrapper{
    height: 60%;
    width: 100%;
    border-radius: 5%;
    .item1_div__img{
      height: 100%;
      width: 100%;
    }
  }
  // h5{
  //   float: right;
  // }
  .text-container{
    height: 80px;
    width: 100%;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;

    .name_price{
      height: 50px;
      width: 100%;
      // border: 1px solid aqua;
    }
   
  }
  .rating{
    display: flex;
    height: 3vh;
    width: 12vw;
    // border: 1px solid rgb(0, 17, 255);
  }
}
.item1_highlight_div{
  height: 35vh;
  width: 25vw;
  margin-top: 2vh;
  margin: 10px;
  transition: width 1s, height 1s, transform 1s;
  // margin-left: 2vh;
  // margin-bottom: 2vh;
  // border: 2px solid red;
  // background-color: blue;
  &:hover{
    // transform: translateX(-20px);
    // height: 50vh;
    // width: 40vw;
    
    // transform: rotate(360deg);
    // zoom: 100%;
    transform: translate(-3%,-3%,);
    // transform: translate(10%,5%);
  }

  .item1_div__img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
  }
  
}
.card_title {
  &.h5 {
    font-size: 15px;
  }
}


@media screen and (max-width:360px){
 .item1_div{ 
   height: 42vh;
   width: 45vw;
 }
 .item1_div .rating {
  display: flex;
  height: 3vh;
  width: 33vw;
}
 .item1_highlight_div{
  height: 25vh;
  width: 70vw;
   
 }
 .item1_div .item1_div__img {
  height: 55%;
  width: 100%;
  border-radius: 5%;
}
 .card_title{
   h5{
    font-size: 0;
   }
 }
 
}